/*------------------------------------------------------------------------*/
/* Chat Messages
/*------------------------------------------------------------------------*/

li.chat-message.megs {
    .message-content {
        background: $c-white;
    }

    .chat-value {
        border: 1px solid $c-darkblue;

        label {
            width: 100%;
            color: $c-white;
            background-color: $c-darkblue;
            display: block;
            text-align: center;
            padding: 3px;
        }

        div {
            color: $c-darkblue;
            padding: 3px;
        }
    }

    .chat-result {
        border: 1px solid $c-darkblue;
        padding: 3px;

        &.inverse {
            background-color: $c-lightblue;
        }

        &.success {
            background-color: green;
            color: $c-white;
            transition: 0.2s background linear;

            &:hover {
                background-color: lightgreen;
            }
        }

        &.failure {
            background-color: $c-red;
            color: $c-white;
            transition: 0.2s background linear;

            &:hover {
                background-color: rgb(252, 87, 69);
            }
        }

        .d10 {
            display: inline-block;
            background-image: url(/icons/svg/d10-grey.svg);
            min-width: 24px;
            line-height: 24px;
            margin-right: 1px;
            background-repeat: no-repeat;
            background-size: 24px 24px;
            font-weight: bold;
            text-align: center;
        }
    }

    .megs-chat-title {
        padding: 5px 0 2px 2px;
        background-color: $c-darkblue;
        color: $c-white;
        text-align: center;
    }

    .megs-chat-roll {
        margin: 0 3px 0 3px;
    }
}
