// Standard colors
$c-white: #fff;
$c-black: #000;

$c-dark: #191813;
$c-faint: #c9c7b8;
$c-beige: #b5b3a4;
$c-tan: #444;

// MEGS system colors
$c-darkblue: #1f5079;
$c-red: #d63a28;
$c-lightblue: #ddebf6;
$c-mediumblue: #5fa2d9;
$c-grey: #a9a7a7;

// CSS Custom Properties (for use in templates and runtime)
:root {
    --darkblue: #{$c-darkblue};
    --white: #{$c-white};
    --red: #{$c-red};
}
